body {
  background-color: #1d3557;
  color: #fff;
  height: 100vh;
}

.url {
  display: none
}

.btn:hover {
  background-color: #f1faee;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toastAlertContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
}

.toastAlert {
  padding: 10px 20px;
  background-color: #111111;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  user-select: none;
  cursor: pointer;
  transition: bottom 1s ease-in-out;
}
